<% include partials/header.ejs %>
    <nav class="navbar navbar-expand-lg header bg-light py-4">
          <a class="text-dark navbar-brand" href="#">Logo Goes Here</a>
          <div class="collapse navbar-collapse" id="navbarSupportedContent"></div>
    </nav>

<div class="row top-section">
      <div class="col-sm-12 col-md-9 left-side background ">
        <div class="container">
            <div class="embed-responsive embed-responsive-16by9 video-section">
              <iframe class="embed-responsive-item" width="460" height="315" src="https://www.youtube.com/embed/Q0sSmlw8_nI" frameborder="0" allowfullscreen></iframe>
            </div>
          </div>
          <h3 class="text-center text-light mt-5 email-call">We're building something cool for<br />streamers. Stay in the know. </h3>
          <form>
      <div class="form-group">
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Enter Your Email Address">
      </div>
    </form>

    </div>

      <div class="col-sm-12 col-md-3 twitter">
          <h3 class="text-center twitter-title">Twitter Feed</h3>
          <ul class="list-group twitter-feed">
              <img class="text-center twitter-feed-pic" src=<%= tweets[0].user.profile_image_url %>/>
              <h4 class="text-center twitter-feed-header"><%= tweets[0].user.screen_name %></h4>
                <div class="text-center row">
                    <div class="col-md-6">
                      <h5 class="followers text-muted">Followers:</h5>
                      <h4 class="followers-number"><%= tweets[0].user.followers_count %></h4>
                    </div>

                    <div class="col-md-6">
                      <h5 class="followers text-muted">Friends:</h5>
                      <h4 class="followers-number"><%= tweets[0].user.friends_count %></h4>
                    </div>
                </div>
                     <% tweets.forEach(function(tweet) { %>
                         <li class="list-group-item twitter-name">
                           <img class="twitter-profile-pic" src=<%= tweet.user.profile_image_url %> />
                             <%= tweet.user.screen_name %>
                             <br />
                            <span class="twitter-user-name">@ <%= tweet.user.screen_name %></span>
                            <br />
                            <p><%= tweet.text %></p>
                            <%= tweet.entities.urls[0].expanded_url %>

                         </li>
                       <% }); %>
                    </ul>

      </div>

</div>



<div class="slant-left above">
                    <div id="bg"></div>
                    <div id='wrapper'>
                        <div id="top">
                            <h1 class="text-center mt-5 three-section-title" style="color: #0085b6">Streamers First</h1>
                        </div>
                        <div id="center" class="container">
                          <div class="row">
                            <div class="col-md-4">
                                <div class="section-border">
                              <span class="sec-top">
                                <i class="fa fa-headphones fa-4x" aria-hidden="true" style="color: #815fc0"></i>
                                <span class="three-section-header">Always Free for Streamers</span>
                              </span>
                                  <hr class="section-line" />
                                <p class="section-para">
                                    No hidden fees. No day 1 DLC.None of that Bullshit.
                                </p>
                              </div>
                            </div>

                              <div class="col-md-4">
                                  <div class="section-border">
                                <span class="sec-top">
                                  <i class="fa fa-compass fa-3x" aria-hidden="true" style="color: #815fc0"></i>
                                  <span class="three-section-header">Your Content, Your Way</span>
                                </span>
                                    <hr class="section-line" />

                                  <p class="section-para">
                                     Forge your own channel. Select from a variety of sponsors that fit your following.
                                  </p>
                                </div>
                              </div>

                                <div class="col-md-4">
                                    <div class="section-border">
                                  <span class="sec-top">
                                    <i class="fa fa-compass fa-3x" aria-hidden="true" style="color: #815fc0"></i>
                                    <span class="three-section-header">Quit Your Day Job</span>
                                  </span>
                                      <hr class="section-line" />

                                    <p class="section-para">
                                        You love streaming. Why not go full time? We'll make it easy for you.
                                    </p>
                                  </div>
                                </div>
                        </div>
                        <div id="bottom">
                            <img src="/wp-content/themes/bridge/frontend_framework/img/final3dcards2.png" class="img-responsive" id='cards' /></div>
                    </div>
                  </div>
                </div>

                <div class="container-fluid call-section">
                <div class="row">
                    <div class="col-sm-12 call-to-action">
                      <h2 class="call-header">Come Talk to our Devs</h2>
                      <button class="btn btn-lg btn-outline-light mt-3 call- button">Join our Discord</button>
                    </div>
                </div>
            </div>
            
<% include partials/footer.ejs %>
